.main {
    padding: 50px;
    text-align: center;
  }
  
  .header {
    background-color: #0d6efd;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .card {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
    background: white;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .card-content {
    padding: 16px;
  }
  
  .image-container {
    width: 100%; /* Adjust image container width */
    height: auto; /* Adjust image container height */
    overflow: hidden;
    border-radius: 8px; /* Optional: if you want rounded corners */
  }
  
  .card h2 {
    margin: 0 0 8px 0;
    font-size: 1.5rem;
    color: #333;
  }
  
  .card p {
    margin: 0;
    color: #666;
    font-size: 1.2rem;
  }
  
  /* Add responsive design for the images */
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .title {
    color: #0d6efd; /* Or any other color you prefer for links */
    cursor: pointer;
  }
  
  .title:hover,
  .title:focus {
    text-decoration: underline; /* Optional: adds underline on hover for visual cue */
  }
  
  